body {
  background-color: coral;
}
.header {
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.banner {
  flex-direction: column;
  display: flex;
  background-color: blueviolet;
  align-items: center;
}

.featured,
.all-games {
  flex-direction: row;
  display: flex;
  background-color: rgb(192, 132, 3);
  justify-content: center;
  width: 700px;
  height: 200px;
}

.card {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.images {
  width: 100px;
  height: 100px;
  align-items: center;
}

.banner-image {
  width: 700px;
  height: 300px;
}

.form {
  background-color: burlywood;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.name,
.e-mail,
.address,
.location,
.button {
  background-color: gold;
  flex-direction: row;
  display: flex;
  justify-content: left;
  padding: 5px;
}

.button {
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  .name,
  .address,
  .location {
    flex-direction: column;
  }

  .form {
    width: 80%;
    height: 30%;
  }

  .card {
    flex-direction: column;
  }
}
